header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #8A4B08;
  color: white;
  position: fixed;
  top: 0;
  z-index: 1001;
  height: 50px;
  width: 100%;
  transition: width 0.3s;
}

header mat-icon {
  cursor: pointer;
  margin-right: 20px;
}

header .app-name {
 margin: 0 auto;

}
