.sidebar {
  width: 200px;
  height: 100%;
  background-color: #f4f4f4;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-y: auto;
}

.sidebar .logo {
  display: block;
  margin: 0 auto 20px;
  width: 100px;
  margin-bottom: 50px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  border-radius: 4px;
}

.sidebar ul li a.active, .sidebar ul li a:hover {
  background-color: #8A4B08;
  color: white;
}
