.dashboard-container {
  display: flex;
}

.content {
  flex-grow: 1;
  margin-left: 220px; 
  padding-top: 80px; 
  transition: margin-left 0.3s;
}

.header, .footer {
  transition: left 0.3s;
  position: fixed;
  left: 200px; 
  width: calc(100% - 200px);
}

.footer {
  bottom: 0;
}

.sidebar-hidden .content {
  margin-left: 0;
}

.sidebar-hidden .header, .sidebar-hidden .footer {
  left: 0;
  width: 100%;
}
